.slides {
  z-index: 1;
  animation: fadein 0.5s ease-in-out forwards;
  -moz-animation: fadein 0.5s ease-in-out forwards;
  -webkit-animation: fadein 0.5s ease-in-out forwards;
  /* animation-delay: 2s; */
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
